<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <link rel="stylesheet" type="text/css" href="css/stilo.css">
  

   
    
    <title>DEMON SLAYER</title>

    <nav class= "wrap">
                    
            <a href="/">Home | </a>
             
            <a href="criar">Cadastro | </a>
            
            <a href="detalhes">Detalhes | </a>

            <a href="animes">Animes | </a>
            
           
         
        </nav>



<div class="center">

      <article>
        <div class="title">
          <h1>Demon Slayer 2021  &#8211; Dublado </h1>
        </div>
        
        </div>
        <div class="content">
          <div class="entry">

<p style="text-align: left;"> <strong> <span style="color: red;"><a style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"> <img loading="lazy" class="" style="border-radius: 10px; box-shadow: 5px 5px 5px #ff0000; border: 0px none;" 

  title="demon" src="/img/3.jpeg" alt="#" width="260" height="382" border="0" /></a>»INFORMAÇÕES«</span></strong><br />
<span style="color: greenyellow;">
<b>Título:</b> Demon – 1º Temporada<br />
<b>Gênero:</b> Ação, Aventura, Ficção, <br />
<strong>Lançamento</strong>: 2021<br />
<b>Qualidade:</b> HD 720p<br />
<b>Áudio:</b> Inglês, Português<br />
<b>Legenda:</b> Português<br />
<b>Formato:</b> MKV<br />
<b>Duração:</b> 1h 25Min.<br />
<b>Qualidade de Áudio</b>: 10<b><br />
Qualidade de Vídeo:</b> <br />
</span>

<p><span id=""></span><strong><span style="color: red;">>>SINOPSE<<</span></strong>: <span style="color: greenyellow;"> Demon Slayer – 1° Temporada ppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp
ppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp
ppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp
ppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp.</p></span>
<span style="color: greenyellow;">
<h2 style="text-align: center;">Venom – Tempo de Carnificina Torrent (2021) Dublado / Legendado CAMRip 720p – Download</h2></span>

<iframe width="560" height="315" src="https://www.youtube.com/embed/bs5NsnnxnvA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



</p>

        </div>

      </article>
      </div>
        
      <script src ="/js/script.js"></script>
</body>
</html>