
        
        .logo{
            height:500px;
            width:98%;
            text-align: center;
            margin: 20px;
            font-size: 25px;
            font-weight: normal;
            background-size: 90%;
             background-attachment: fixed;
             padding: 10px 10px;
             cursor:  pointer;
            transition: all ease 0.2s;
            transform: scale(0.9);
       
        
        }
       
       
             
        .texto{
            height:500px;
            width:98%;
            text-align: center;
            margin: 20px;
            font-size: 25px;
            font-weight: normal;
            background-size: 90%;
             background-attachment: fixed;
             padding: 10px 10px;
             
        
        }
        .textoo{
            height:500px;
            width:98%;
            text-align: center;
            margin: 20px;
            font-size: 25px;
            font-weight: normal;
            background-size: 90%;
             background-attachment: fixed;
             padding: 50px 200px;
            background-image: url("/img/ceu.webp");
           
        
        }
        
        
                
        
        .details{
                display: flex;
                flex-direction: column;
                color: #fc5203;
                
                
         }
         body {
            background-color: gray;
        }
        
       
        .efeito:hover{
            cursor:  pointer;
            transition: all ease 0.2s;
            transform: scale(0.9);
            width: 100%;
        }
        .details{
                display: flex;
                flex-direction: column;
                color: #fc5203;
                
                
         }
         .wrap{
                    text-align: center;
                    margin: 20px;
                    font-size: 25px;
                    font-weight: normal;
                    background-size: 90%;
                     background-attachment: fixed;
                     padding: 50px 80px;
                     height:100px;
                     width:93%;
                     background-color: rgb(209, 32, 32);
                
                }
                .header{
                    display: flex;
                    flex-direction: column;
                    color: #fc5203;
                    
                    
             }
        
        
        
        
        
        
        
        